# WordPress core files (optional)


/atum*
/woocommerce*
/shopmagic*
/jwt*
/elementor*
/premium*
/object*
/index*
/postie*
/puredev*
/easy*
/wc*
/wp*
/woo*
/user*
/time*
/simply*
/permalink*
/local*
/seo*
/shipping*
/check*
/coupon*
/my-php*
/aaa-order-workflow/.gitignore
# Logs, caches, uploads
*.log
debug.log
logs/
*.sql
*.sqlite


/add-customer-for-woocommerce/
/admin-columns-pro/
/admin-menu-editor-pro/
/atum-barcodes-pro/
/atum-logs/
/atum-purchase-orders/
/atum-stock-manager-for-woocommerce/
/brands-for-woocommerce/
/bulky-woocommerce-bulk-edit-products/
/check-my-address/
/cloudflare/
/coupon-by-roles-for-woocommerce/
/custom-login-url/
/custom-php-settings/
/dashboard-widgets-suite/
/delivery-drivers-manager-premium/
/dominant-color-images/
/download-plugin/
/easy-code-manager/
/easy-php-settings/
/eee-homepage-products/
/elementor/
/elementor-pro/
/enable-media-replace/
/ewww-image-optimizer/
/g-business-reviews-rating/
/gmd-atum-product-updater/
/health-check/
/index.php/
/interactive-code-block/
/jwt-authentication-for-wp-rest-api/
/jwt-auth-pro-premium/
/kadence-blocks/
/kadence-blocks-pro/
/kadence-pro/
/load-more-products-for-woocommerce/
/local-delivery-drivers-for-woocommerce-premium/
/meta-box/
/meta-box-aio/



# Environment/config
.env

# Composer & Node
**/vendor/
/node_modules/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

/mmm-product-search-with-brand/
/my-server-info/
/object-cache-pro/
/optimization-detective/
/paid-memberships-pro/
/perfmatters/
/permalink-manager-for-woocommerce/
/pexlechris-adminer/
/php-version/
/php-vitals/
/plugin-check/
/pmpro-add-member-admin/
/pmpro-addon-packages/
/pmpro-advanced-levels-shortcode/
/pmpro-cpt/
/pmpro-email-confirmation/
/pmpro-failed-payment-limit/
/pmpro-level-cost-text/
/pmpro-member-badges/
/pmpro-nav-menus/
/pmpro-network-subsite/
/pmpro-reason-for-cancelling/
/pmpro-recurring-emails/
/pmpro-roles/
/pmpro-set-expiration-dates/
/pmpro-subscription-delays/
/pmpro-toolkit/
/pmpro-woocommerce/
/postie/
/premium-addons-for-elementor/
/premium-addons-pro/
/product-labels-printing-business/
/puredevs-any-meta-inspector/
/query-monitor/
/scheduling-deliveries-for-delivery-drivers-premium/
/secure-custom-fields/
/seo-by-rank-math/
/shipping-zones-by-drawing-premium/
/simple-custom-post-order/
/speculation-rules/
/sql-executioner/
/swis-performance/
/tawkto-live-chat/
/theme-check/
/time-picker-for-woocommerce-premium/
/updraftplus/
/view-transitions/
/wc-product-customer-list/
/wdr-collections/
/web-worker-offloading/
/widget-google-reviews/
/woocommerce/
/woocommerce-account-funds/
/woocommerce-advanced-products-labels/
/woocommerce-ajax-filters/
/woocommerce-google-analytics-integration/
/woocommerce-legacy-rest-api/
/woocommerce-order-status-manager/
/woocommerce-store-credit/
/woo-discount-rules/
/woo-discount-rules-pro/
/woo-global-cart/
/woo-update-manager/
/wordpress-importer/
/wordpress-multisite-user-sync/
/wpae-metabox-export-addon/
/wpae-user-add-on-pro/
/wpae-woocommerce-add-on/
/wpai-metabox-import-addon-new/
/wpai-user-add-on/
/wpai-woocommerce-add-on/
/wp-all-export-pro/
/wp-all-import-pro/
/wp-crontrol/
/wp-file-manager/
/wp-google-places-review-slider/
/wp-phpmyadmin-extension/
/wp-rocket/
/wp-rollback/
