/* front-end SLIM */
#swis-slim-assets-pane {
	background-color: #fff;
	color: #000;
	font-family: sans-serif;
	padding: 15px;
	font-weight: normal;
}
.swis-slim-visible a {
	color: #d40000;
	text-decoration: underline;
}
a.swis-ccss-status {
	text-decoration: none;
}
#swis-slim-assets-pane * {
	font-family: sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}
#swis-slim-assets-pane ul {
	list-style: disc;
	margin-bottom: 40px;
	margin-left: 30px;
	padding: 0;
}
#swis-slim-assets-pane li {
	line-height: 1.5;
	margin: 5px 0px 0px 20px;
	padding: 0;
}
#swis-slim-assets-pane .dashicons {
	font-family: dashicons;
}
.slim-close-container {
	width: 100%;
	clear: both;
}
#swis-slim-close-pane {
	float: right;
	height: 42px;
	width: 42px;
}
#swis-slim-close-pane .dashicons {
	font-size: 30px;
	margin: 5px 5px 0px -5px;
}
#swis-slim-assets-pane .button-primary {
	border: 1px solid #3eadc9;
	color: #fff;
	box-shadow: none;
	background: #3eadc9;
	vertical-align: baseline;
	display: inline-block;
	text-decoration: none;
	text-transform: none;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 2.53;
	min-height: 30px;
	max-height: 45px;
	margin: 0;
	padding: 0 10px;
	cursor: pointer;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
}
#swis-slim-assets-pane .button-primary:hover {
	border-color: #5a9fb0;
	background: #5a9fb0;
}
#swis-slim-assets-pane .button-secondary {
	border: 1px solid #7e8993;
	color: #262a2e;
	box-shadow: none;
	background: #f6f7f7;
	vertical-align: baseline;
	display: inline-block;
	text-decoration: none;
	text-transform: none;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 2.53;
	min-height: 30px;
	max-height: 45px;
	margin: 0;
	padding: 0 10px;
	cursor: pointer;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
}
#swis-slim-assets-pane .button-secondary:hover {
	border-color: #717c87;
	background: #f0f0f1;
}
#swis-slim-assets-pane .button-danger {
	border: 1px solid transparent;
	color: #d63638;
	box-shadow: none;
	background: 0 0;
	vertical-align: top;
	display: inline-block;
	text-decoration: none;
	text-transform: none;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 2.53;
	min-height: 30px;
	max-height: 45px;
	margin: 0;
	padding: 0 10px;
	cursor: pointer;
	white-space: nowrap;
	box-sizing: border-box;
	border-radius: 3px;
}
#swis-slim-assets-pane .button-danger:hover {
	border-color: #d63638;
	background: #d63638;
	color: #fff;
}
a.swis-help-icon {
	margin: 3px;
	color: #d40000;
	text-decoration: none;
}
.slim-header {
	display: flex;
	flex-direction: row;
}
.slim-header .slim-left {
	flex: 1 1 auto;
}
.slim-header .slim-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/* admin bar styling */
#wpadminbar #swis-slim-show-top, #wpadminbar #swis-slim-show {
	cursor: pointer;
}
#wpadminbar #wp-admin-bar-swis .ab-icon:before {
	content: '\f198';
	top: 2px;
}
#wpadminbar #wp-admin-bar-swis .ab-item a {
	padding: 0;
}
/* other SLIM/CCSS UI */
.swis-slim-rule {
	display: flex;
	justify-content: space-between;
	background: #f6f7f7;
	color: #1d2327;
	border: 1px solid #c3c4c7;
	box-shadow: 0 1px 1px rgb( 0 0 0 / 4%);
	line-height: 1.4em;
	margin-bottom: 5px;
	padding: 10px;
}
#swis-slim-assets-pane .swis-slim-row {
	margin-bottom: 0px;
}
#swis-slim-assets-pane img {
	display: inline;
}
#swis-slim-show-all-assets {
	width: 100%;
	text-align: right;
}
.swis-slim-asset-status .dashicons {
	margin: 5px auto 0px;
	display: block;
}
.swis-slim-rule-description {
	flex: 1 1 auto;
}
#swis-slim-assets-pane img.swis-ccss-spinner {
	display: none;
	margin-right: 10px;
}
#swis-slim-assets-pane img.swis-ccss-show-inline {
	display: inline-block;
}
.swis-slim-rule-actions, .swis-ccss-actions {
	margin-left: 1em;
	flex: 0 0 auto;
}
.swis-ccss-actions a {
	border: #3eadc9 1px solid;
	color: #3eadc9;
	box-shadow: none;
	vertical-align: top;
	display: inline-block;
	text-decoration: none;
	text-transform: none;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 2.53;
	min-height: 30px;
	max-height: 45px;
	margin: 0;
	padding: 0 10px;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
}
.swis-ccss-actions a:hover {
	color: #fff;
	background: #3eadc9;
}
.swis-ccss-file {
	flex: 1 1 auto;
	line-height: 40px;
}
.swis-ccss-file a {
	word-break: break-all;
}
.swis-slim-raw-rule {
	margin-top: 5px;
	display: flex;
}
.swis-slim-raw-rule input {
	flex: 1 1 auto;
}
.button-primary.swis-slim-rule-save {
	margin-left: 5px;
	flex: 0 0 auto;
}
#swis-slim-add-rule {
	display: block;
}
#swis_slim_new_handle {
	max-width: 200px;
}
#swis_slim_new_exclusions {
	flex: 1 1 auto;
}
.swis-slim-hidden, .swis-ccss-hidden {
	display: none;
}
.swis-slim-header {
	font-weight: bold;
	margin-bottom: 10px;
}
.swis-slim-column, .swis-ccss-column {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	line-height: 30px;
	margin-top: 5px;
}
.swis-slim-row, .swis-slim-reversible {
	display: flex;
	margin-bottom: 5px;
	flex: 1 1 auto;
	line-height: 30px;
}
.swis-slim-row .swis-slim-row {
	margin-bottom: 0px;
}
.swis-slim-control-group {
	flex: 1 1 auto;
}
.swis-slim-assets .swis-slim-row input[type=radio] {
	margin-top: 17px;
	margin-right: 3px;
	width: 13px;
	height: 13px;
	-webkit-appearance: auto;
	-moz-appearance: auto;
	appearance: auto;
}
.swis-slim-assets .swis-slim-column {
	margin-top: 0px;
}
.swis-slim-assets .swis-slim-edit-rule-description {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
.swis-slim-assets input[type=text] {
	margin-top: 8px;
	font-size: 16px;
	line-height: 16px;
	padding: 8px;
}
.swis-slim-assets label {
	display: block;
	font-size: 16px;
	margin-top: 9px;
	margin-bottom: 0px;
}
.swis-slim-assets strong label {
	font-weight: bold;
}
.button-primary.swis-slim-rule-add {
	margin-left: 5px;
	flex: 0 0 auto;
}
.swis-slim-error-message, .swis-ccss-error-message {
	display: none;
	background-color: white;
	border: 1px solid #ccd0d4;
	border-left: 4px solid #dc3232;
	margin: 10px 10px 15px 0;
	padding: 12px;
	font-weight: bold;
}
/* Critical CSS management UI */
#swis-active-critical-css {
	background: #f6f7f7;
	border: 1px solid #c3c4c7;
	box-shadow: 0 1px 1px rgb( 0 0 0 / 4%);
	color: #1d2327;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 1.4em;
	margin-top: 15px;
	margin-bottom: 30px;
	padding: 10px;
}
#swis-active-critical-css textarea {
	padding: 2px 6px;
	line-height: 1.43;
	height: auto;
	overflow-y: scroll;
	width: 99%;
}
.swis-ccss-column {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}
.swis-ccss-row {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
}
.swis-ccss-edit-template, .swis-ccss-add, .swis-ccss-edit, #swis-active-critical-css .button-link-save {
	margin-top: 10px;
}
#swis-active-critical-css .button-link-save:disabled {
	border: #3eadc9 1px solid;
	color: #3eadc9;
	background-color: #f6f7f7;
}
.swis-ccss-error-message {
	margin: 10px 0 0;
}
.swis-ccss-success-message {
	display: none;
	background-color: white;
	border: 1px solid #ccd0d4;
	border-left: 4px solid #46b450;
	margin: 10px 0 0;
	padding: 12px;
}
.swis-ccss-status span.dashicons {
	width: 20px;
	height: 20px;
	font-size: 20px;
}
a.swis-ccss-good {
	color: green;
}
a.swis-ccss-warn {
	color: orange;
}
a.swis-ccss-bad {
	color: red;
}
#wpadminbar #swis-slim-show-top, #wpadminbar #swis-slim-show {
	cursor: pointer;
}
#wpadminbar #wp-admin-bar-swis .ab-icon:before {
	content: '\f198';
	top: 2px;
}
#swis-slim-assets-pane .slim-main-heading {
	font-family: sans-serif;
	font-size: 36px;
	font-weight: 800;
}
#swis-slim-assets-pane .slim-section-heading {
	font-family: sans-serif;
	font-size: 30px;
	font-weight: 700;
}
.swis-slim-unscroll {
	overflow: hidden;
}
.swis-slim-visible {
	display: block;
	position: fixed;
	top: 32px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
	height: calc(100% - 32px);
	z-index: 99999;
}
table.swis-slim-assets {
	border: 1px solid #ddd;
	border-collapse: collapse;
	font-family: sans-serif;
	width: 100%;
	border-spacing: 0;
	empty-cells: show;
	margin: 40px 0;
	max-width: 100%;
	display: table;
	table-layout: auto;
}
.swis-slim-assets th {
	font-weight: 700;
	text-align: left;
}
.swis-slim-assets th, .swis-slim-assets td {
	border: 1px solid #ddd;
	font-family: sans-serif;
	font-size: 16px;
	padding: 8px;
	line-height: 1.4;
	margin: 0;
	overflow: visible;
}
.swis-slim-asset-status {
	width: 85px;
}
.swis-slim-asset-size {
	width: 100px;
}
.swis-slim-status-active,
.swis-slim-active-yes {
	font-weight: bolder;
	color: green;
}
.swis-slim-status-disabled,
.swis-slim-active-no {
	font-weight: bolder;
	color: red;
}
.swis-slim-status-deferred {
	font-weight: bolder;
	color: #56b6cf;
}
.swis-slim-status-delayed {
	font-weight: bolder;
	color: orange;
}
.swis-slim-caught-errors {
	background: #f6f7f7;
	border: 1px solid #c3c4c7;
	box-shadow: 0 1px 1px rgb( 0 0 0 / 4%);
	color: #1d2327;
	display: flex;
	flex-direction: column;
	line-height: 1.4em;
	margin-top: 15px;
	margin-bottom: 30px;
	padding: 10px;
}
.swis-slim-error-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.swis-slim-error-head p {
	font-weight: bold;
	margin: 10px 0px 0px;
}
.swis-slim-error-log {
	margin-top: 10px;
}
/* mobile rules */
@media screen and (max-width: 782px) {
	#wpadminbar li#wp-admin-bar-swis-slim{
		display: block!important;
	}
}
@media screen and (max-width: 915px) {
	.swis-slim-assets .swis-slim-reversible {
		flex-direction: column;
	}
}
@media screen and (max-width: 825px) {
	.swis-ccss-row {
		flex-direction: column;
	}
	.swis-ccss-actions {
		margin-left: 0;
	}
	.swis-ccss-file {
		line-height: 26px;
	}
}
