/* settings tabs */
.swis-tab span { font-size: 14px; font-weight: 600; color: #555; text-decoration: none; line-height: 36px; padding: 0 10px; }
.swis-tab span:hover { color: #464646; }
.swis-tab { margin: 0 0 0 5px; padding: 0px; border-width: 1px 1px 1px; border-style: solid solid none; border-image: none; border-color: #ccc; display: inline-block; background-color: #e4e4e4; cursor: pointer }
.swis-tab:hover { background-color: #fff }
.swis-selected { background-color: #f1f1f1; margin-bottom: -1px; border-bottom: 1px solid #f1f1f1 }
.swis-selected span { color: #000; }
.swis-selected:hover { background-color: #f1f1f1; }
.swis-tab-nav { list-style: none; margin: 10px 0 0; padding-left: 5px; border-bottom: 1px solid #ccc; }
.swis-help-icon, a.swis-ccss-status {
	margin: 3px;
	color: #d40000;
	text-decoration: none;
}
.swis-help-icon:hover {
	color: #9a0000;
}
.swis-help-icon span.dashicons {
	width: 15px;
	height: 15px;
	font-size: 15px;
}
/* front-end SLIM */
h1 .swis-help-icon span.dashicons {
	width: 20px;
	height: 20px;
	font-size: 20px;
}
#swis-slim-assets-pane .button-primary {
	border: 1px solid #3eadc9;
	color: #fff;
	box-shadow: none;
	background: #3eadc9;
	vertical-align: baseline;
	display: inline-block;
	text-decoration: none;
	text-transform: none;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 2.53;
	min-height: 30px;
	max-height: 45px;
	margin: 0;
	padding: 0 10px;
	cursor: pointer;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
}
#swis-slim-assets-pane .button-primary:hover {
	border-color: #5a9fb0;
	background: #5a9fb0;
}
#swis-slim-assets-pane .button-secondary {
	border: 1px solid #7e8993;
	color: #262a2e;
	box-shadow: none;
	background: #f6f7f7;
	vertical-align: baseline;
	display: inline-block;
	text-decoration: none;
	text-transform: none;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 2.53;
	min-height: 30px;
	max-height: 45px;
	margin: 0;
	padding: 0 10px;
	cursor: pointer;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
}
#swis-slim-assets-pane .button-secondary:hover {
	border-color: #717c87;
	background: #f0f0f1;
}
#swis-slim-assets-pane .button-danger {
	border: 1px solid transparent;
	color: #d63638;
	box-shadow: none;
	background: 0 0;
	vertical-align: top;
	display: inline-block;
	text-decoration: none;
	text-transform: none;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 2.53;
	min-height: 30px;
	max-height: 45px;
	margin: 0;
	padding: 0 10px;
	cursor: pointer;
	white-space: nowrap;
	box-sizing: border-box;
	border-radius: 3px;
}
#swis-slim-assets-pane .button-danger:hover {
	border-color: #d63638;
	background: #d63638;
	color: #fff;
}
/* admin bar styling */
#wpadminbar #swis-slim-show-top, #wpadminbar #swis-slim-show {
	cursor: pointer;
}
#wpadminbar #wp-admin-bar-swis .ab-icon:before {
	content: '\f198';
	top: 2px;
}
#wpadminbar #wp-admin-bar-swis .ab-item a {
	padding: 0;
}
/* other settings UI */
#swis-header {
	display: flex;
	flex-direction: row;
	background-color: #fff;
	min-height: 140px;
	border: 1px solid #e5e5e5;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
}
#swis-header #swis-logo {
	flex: 0 0 300px;
	padding: 10px;
	background: #fff url('images/swis-red-on-alpha-210x75.png') center no-repeat;
}
#swis-header #swis-header-info {
	padding: 0 10px;
	flex: 1 1 auto;
}
#swis-flex-wrap {
	display: flex;
	flex-direction: row;
}
#swis-settings-form {
	flex: 1 1 auto;
}
#swis-settings-form table textarea {
	width: 510px;
}
#swis-settings-form table ul.swis-description {
	color: #666;
	list-style-type: disc;
	margin-left: 20px;
}
.swis-slim-rule {
	display: flex;
	justify-content: space-between;
	background: #f6f7f7;
	color: #1d2327;
	border: 1px solid #c3c4c7;
	box-shadow: 0 1px 1px rgb( 0 0 0 / 4%);
	line-height: 1.4em;
	margin-bottom: 5px;
	padding: 10px;
}
#swis-slim-assets-pane .swis-slim-row {
	margin-bottom: 0px;
}
#swis-slim-assets-pane img {
	display: inline;
}
.swis-slim-rule-description {
	flex: 1 1 auto;
}
#swis-slim-assets-pane img.swis-ccss-spinner {
	display: none;
	margin-right: 10px;
}
#swis-generate-css-errors-container {
	display: none;
}
.swis-ccss-show-inline {
	display: inline-block;
}
.swis-slim-rule-actions, .swis-ccss-actions {
	margin-left: 1em;
	flex: 0 0 auto;
}
.swis-ccss-actions a {
	border: #3eadc9 1px solid;
	color: #3eadc9;
	box-shadow: none;
	vertical-align: top;
	display: inline-block;
	text-decoration: none;
	text-transform: none;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 2.53;
	min-height: 30px;
	max-height: 45px;
	margin: 0;
	padding: 0 10px;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
}
.swis-ccss-actions a:hover {
	color: #fff;
	background: #3eadc9;
}
.swis-ccss-file {
	flex: 1 1 auto;
	line-height: 40px;
}
.swis-ccss-file a {
	word-break: break-all;
}
.swis-slim-raw-rule {
	margin-top: 5px;
	display: flex;
}
.swis-slim-raw-rule input {
	flex: 1 1 auto;
}
.button-primary.swis-slim-rule-save {
	margin-left: 5px;
	flex: 0 0 auto;
}
#swis-slim-add-rule {
	display: block;
}
#swis_slim_new_handle {
	max-width: 200px;
}
#swis_slim_new_exclusions {
	flex: 1 1 auto;
}
#swis-active-critical-css {
	background: #f6f7f7;
	border: 1px solid #c3c4c7;
	box-shadow: 0 1px 1px rgb( 0 0 0 / 4%);
	color: #1d2327;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 1.4em;
	margin-top: 15px;
	margin-bottom: 30px;
	padding: 10px;
}
#swis-active-critical-css textarea {
	padding: 2px 6px;
	line-height: 1.43;
	height: auto;
}
.swis-ccss-column {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}
.swis-ccss-row {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
}
.swis-ccss-edit-template, .swis-ccss-add, .swis-ccss-edit, #swis-active-critical-css .button-link-save {
	margin-top: 10px;
}
#swis-active-critical-css .button-link-save:disabled {
	border: #3eadc9 1px solid;
	color: #3eadc9;
	background-color: #f6f7f7;
}
.swis-slim-hidden, .swis-ccss-hidden {
	display: none;
}
.swis-slim-header {
	font-weight: bold;
	margin-bottom: 10px;
}
.swis-slim-column, .swis-ccss-column {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	line-height: 30px;
	margin-top: 5px;
}
.swis-slim-row, .swis-slim-reversible {
	display: flex;
	margin-bottom: 5px;
	flex: 1 1 auto;
	line-height: 30px;
}
.swis-slim-row .swis-slim-row {
	margin-bottom: 0px;
}
.swis-slim-control-group {
	flex: 1 1 auto;
}
.form-table .swis-slim-row input[type=radio] {
	margin-top: 8px;
}
.swis-slim-assets .swis-slim-row input[type=radio] {
	margin-top: 15px;
	margin-right: 3px;
}
.swis-slim-assets .swis-slim-column {
	margin-top: 0px;
}
.swis-slim-assets .swis-slim-edit-rule-description {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
.swis-slim-assets input[type=text] {
	margin-top: 8px;
	font-size: 16px;
	/* line-height: 30px; */
	padding: 8px;
}
.swis-slim-assets label {
	margin-top: 7px;
	margin-bottom: 0px;
	font-size: 16px;
}
.button-primary.swis-slim-rule-add {
	margin-left: 5px;
	flex: 0 0 auto;
}
.swis-slim-error-message, .swis-ccss-error-message {
	display: none;
	background-color: white;
	border: 1px solid #ccd0d4;
	border-left: 4px solid #dc3232;
	margin: 10px 10px 15px 0;
	padding: 12px;
	font-weight: bold;
}
.swis-ccss-error-message {
	margin: 10px 0 0;
}
.swis-ccss-success-message {
	display: none;
	background-color: white;
	border: 1px solid #ccd0d4;
	border-left: 4px solid #46b450;
	margin: 10px 0 0;
	padding: 12px;
}
.swis-ccss-status span.dashicons {
	width: 20px;
	height: 20px;
	font-size: 20px;
}
a.swis-ccss-good {
	color: green;
}
a.swis-ccss-warn {
	color: orange;
}
a.swis-ccss-bad {
	color: red;
}
#swis-right {
	flex: 0 0 300px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}
p.debug-actions {
	clear: both;
}
#swis_license_key {
	margin: 10px 0;
	width: 300px;
}
#swis-debug-info {
	border:1px solid #e5e5e5;
	background: #fff;
	overflow: auto;
	height: 300px;
	width: 800px;
}
#swis-debug, #swis-copy-debug-success, #swis-copy-debug-fail {
	display: none;
}
.swis-help-beacon-multi, .swis-help-beacon-single, .swis-help-external {
	margin: 3px;
}
/* mobile rules */
@media screen and (max-width: 1160px) {
	#swis-right {
		flex-basis: 180px;
		padding: 10px;
	}
	#swis_license_key {
		width: 180px;
	}
}
@media screen and (max-width: 1010px) {
	#swis-settings-form table textarea {
		max-width: 450px;
	}
}
@media screen and (max-width: 915px) {
	.swis-slim-assets .swis-slim-reversible {
		flex-direction: column;
	}
}
@media screen and (max-width: 825px) {
	#swis-settings-form table textarea {
		max-width: 510px;
	}
	#swis-flex-wrap {
		flex-direction: column-reverse;
	}
	#swis-right {
		flex-basis: auto;
	}
	#swis_license_key {
		width: 300px;
	}
	#swis-header {
		flex-direction: column;
	}
	#swis-header #swis-logo {
		flex: 0 0 100px;
	}
	.swis-ccss-row {
		flex-direction: column;
	}
	.swis-ccss-actions {
		margin-left: 0;
	}
	.swis-ccss-file {
		line-height: 26px;
	}
}
@media screen and (max-width: 525px) {
	#swis-settings-form table textarea {
		width: 100%;
	}
}
