.role-based-cart-limits-setting-wrapper {
	margin: 10px 0px 0px 0px;
	padding: 0 10px 0 10px;
}

.ct-mpact-role-setting-input-fields {
	text-align: center;
}

.ct-mpac-save-button-section {
	margin: 10px 0 0 0;
}