/* @version 2.1.0 */
#ddd-dt-atum-logs-table td.ddd-dt-atum-move-pos{color:#1d6f42;font-weight:600}
#ddd-dt-atum-logs-table td.ddd-dt-atum-move-neg{color:#b32d2e;font-weight:600}
#ddd-dt-atum-logs-table td.ddd-dt-atum-move-zero{color:#646970}
