/*
 * File: /wp-content/plugins/aaa-order-workflow/includes/forcast/assets/css/forcast-admin.css
 * Purpose: Styles specific to the Forcast module's admin UI.
 */

/* TODO: Add CSS styles as needed. */