th#szbd_post_id {
	width: 50px;
}

#szbd-test-address {
	margin-bottom: 20px;
}

#szbd_map {
	width: 100%;
}

.szbd-heading {
	font-size: large;
	color: green;
}

.szbd-heading-fail {
	font-size: large;
	color: red;
}
table.form-table {
    border-bottom: 1px solid purple;
}
