/* Styles for DDD JS Troubleshooting results */
#ddd-js-results {
  margin-top: 1em;
}

#ddd-js-results h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

#ddd-js-results ul {
  list-style: none;
  margin: 0;
  padding-left: 1.5em;
}

#ddd-js-results ul li {
  margin-bottom: 0.5em;
}

#ddd-js-results li strong {
  font-weight: bold;
}

#ddd-js-results li span {
  font-size: 1.1em;
  color: #007cba;
}
