#top_up_image_id {
	display: none;
}

#top-up-image-container {

	display: block;
	max-width: 400px;

	.clear {
		clear: both;
		display: block;
	}
}

#top-up-image-preview {
	max-height: 128px;
	max-width: 128px;
	margin-left: 32px;
	padding: 20px;
	background: #FFFFFF;
	border: 1px solid #8C8F94;
	border-radius: 4px;
}

#top-up-image-select {
	float: left;
	z-index: 1000;
}
