
#split-cart {padding: 40px 0; clear: both;}
#split-cart .split-cart-item { -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
pointer-events: none;}
#split-cart.checkout {opacity: 0.50; filter: alpha(opacity =50);}
#split-cart .split-cart-item {padding-top: 20px}