/* General */
.mb-flex {
	display: flex;
	align-items: center;
	gap: 8px;
}

.mb-header {
	justify-content: space-between;
	height: auto;
	padding: 12px;
}

.mb-body a {
	text-decoration: none;
}

.mb-header__left {
	display: flex;
	align-items: center;
	gap: 8px;
}

.mb-header h1 {
	font-weight: 600;
	padding: 0;
}

.mb-body__inner {
	position: static;
}

.mb-main {
	max-width: 60rem;
}

.mb-box {
	margin-bottom: 8px;
}

.mb-box__title {
	margin-right: 0;
}

.mb-box__body {
	padding: 32px;
}

.mb-box__body form,
.mb-box__body p {
	margin-block: 0 12px;
}

.mb-box__body *:last-child {
	margin-bottom: 0;
}

.mbaio-tools .mb-box__body input,
.mbaio-tools .mb-box__body select {
	width: 200px;
}

.mbaio-extensions .mb-box__body {
	padding: 0;
}

.mbaio-extensions .mb-box__body table {
	border: 0;
}

.mbaio-extensions .mb-box__body table tr:hover {
	background: #f0f0f0;
}

/* Header */
.mbaio-header {
	padding: 20px 0;
	background: #fff;
}

/* Filter */
.mbaio-filter {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

.mbaio-filter li {
	margin: 0;
}

.mbaio-filter li+li {
	margin-left: 10px;
}

.mbaio-filter a {
	display: inline-block;
	padding: 1px 5px;
	border-radius: 2px;
}

.mbaio-filter .mbaio-active,
.mbaio-filter .mbaio-active:focus {
	background: var(--color-primary);
	color: #fff;
	box-shadow: none;
}

/* Filter list */
.mbaio-list {
	margin-bottom: 20px;
}

.mbaio-list td,
.mbaio-list th {
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	padding: 12px 15px;
}

.mbaio-list tr:has(.rwmb-switch:checked) th {
	border-left: 4px solid var(--color-primary);
	padding-left: 11px;
}

.mbaio-list tr:has(.rwmb-switch:checked) {
	background: #f7fcfe;
}

td.mbaio-link {
	text-align: right;
	width: 40px;
}

/* Tooltip */
button.mbaio-tooltip {
	border: none;
	background: none;
	padding: 0;
	color: rgba(0, 0, 0, .1);
	width: 16px;
	height: 16px;
}

.mbaio-tooltip .dashicons {
	font-size: 14px;
	width: 16px;
	height: 16px;
	margin-top: 2px;
}

.mbaio-tooltip svg {
	width: 12px;
	height: 12px;
	top: 1px;
	position: relative;
}

.tippy-tooltip {
	text-align: left;
}

/* License warning notice */
.mbaio-license-warning {
	border: 3px dashed #ef4836;
	background: #fff;
	padding: 12px;
}

.mbaio-license-warning .inside {
	padding-bottom: 0;
}

.mbaio-license-warning .dashicons {
	color: #f56e28;
	margin-right: 4px;
}

.mbaio-ajax {
	position: fixed;
	background: #000;
	color: #fff;
	top: 60px;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 12px 20px;
	width: 120px;
	text-align: center;
	border-radius: 3px;
	z-index: 99;
}