/* src/index.css */
:root {
  --kwp-background: 0 0% 100%;
  --kwp-foreground: 222.2 84% 4.9%;
  --kwp-card: 0 0% 100%;
  --kwp-card-foreground: 222.2 84% 4.9%;
  --kwp-popover: 0 0% 100%;
  --kwp-popover-foreground: 222.2 84% 4.9%;
  --kwp-primary: 221.2 83.2% 53.3%;
  --kwp-primary-foreground: 210 40% 98%;
  --kwp-secondary: 210 40% 96.1%;
  --kwp-secondary-foreground: 222.2 47.4% 11.2%;
  --kwp-muted: 210 40% 96.1%;
  --kwp-muted-foreground: 215.4 16.3% 46.9%;
  --kwp-accent: 210 40% 96.1%;
  --kwp-accent-foreground: 222.2 47.4% 11.2%;
  --kwp-destructive: 0 84.2% 60.2%;
  --kwp-destructive-foreground: 210 40% 98%;
  --kwp-border: 214.3 31.8% 91.4%;
  --kwp-input: 214.3 31.8% 91.4%;
  --kwp-ring: 221.2 83.2% 53.3%;
  --kwp-radius: 8px;
  --kwp-success: 120 100% 50%;
  --kwp-success-foreground: 210 40% 98%;
}
*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}
.tw-mr-12px {
  margin-right: 0.75rem;
}
.tw-flex {
  display: flex;
}
.tw-inline-flex {
  display: inline-flex;
}
.tw-h-10 {
  height: 2.5rem;
}
.tw-h-11 {
  height: 2.75rem;
}
.tw-h-9 {
  height: 2.25rem;
}
.tw-w-10 {
  width: 2.5rem;
}
.tw-w-full {
  width: 100%;
}
.tw-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.tw-place-content-between {
  place-content: space-between;
}
.tw-items-center {
  align-items: center;
}
.tw-justify-center {
  justify-content: center;
}
.tw-whitespace-nowrap {
  white-space: nowrap;
}
.tw-rounded-full {
  border-radius: 9999px;
}
.tw-rounded-md {
  border-radius: calc(var(--kwp-radius) - 2px);
}
.tw-border {
  border-width: 1px;
}
.tw-border-input {
  border-color: hsl(var(--kwp-input));
}
.tw-border-transparent {
  border-color: transparent;
}
.tw-bg-background {
  background-color: hsl(var(--kwp-background));
}
.tw-bg-destructive {
  background-color: hsl(var(--kwp-destructive));
}
.tw-bg-primary {
  background-color: hsl(var(--kwp-primary));
}
.tw-bg-secondary {
  background-color: hsl(var(--kwp-secondary));
}
.tw-bg-success {
  background-color: hsl(var(--kwp-success));
}
.tw-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.tw-px-2\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.tw-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.tw-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.tw-px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.tw-py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.tw-py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
.tw-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.tw-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.tw-text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.tw-font-medium {
  font-weight: 500;
}
.tw-font-semibold {
  font-weight: 600;
}
.tw-text-destructive-foreground {
  color: hsl(var(--kwp-destructive-foreground));
}
.tw-text-foreground {
  color: hsl(var(--kwp-foreground));
}
.tw-text-primary {
  color: hsl(var(--kwp-primary));
}
.tw-text-primary-foreground {
  color: hsl(var(--kwp-primary-foreground));
}
.tw-text-secondary-foreground {
  color: hsl(var(--kwp-secondary-foreground));
}
.tw-underline-offset-4 {
  text-underline-offset: 4px;
}
.tw-shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}
.tw-ring-offset-background {
  --tw-ring-offset-color: hsl(var(--kwp-background));
}
.tw-transition-colors {
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
@keyframes enter {
  from {
    opacity: var(--tw-enter-opacity, 1);
    transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0) scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1)) rotate(var(--tw-enter-rotate, 0));
  }
}
@keyframes exit {
  to {
    opacity: var(--tw-exit-opacity, 1);
    transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0) scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1)) rotate(var(--tw-exit-rotate, 0));
  }
}
.hover\:tw-bg-accent:hover {
  background-color: hsl(var(--kwp-accent));
}
.hover\:tw-bg-destructive\/90:hover {
  background-color: hsl(var(--kwp-destructive) / 0.9);
}
.hover\:tw-bg-primary\/90:hover {
  background-color: hsl(var(--kwp-primary) / 0.9);
}
.hover\:tw-bg-secondary\/80:hover {
  background-color: hsl(var(--kwp-secondary) / 0.8);
}
.hover\:tw-text-accent-foreground:hover {
  color: hsl(var(--kwp-accent-foreground));
}
.hover\:tw-underline:hover {
  text-decoration-line: underline;
}
.focus-visible\:tw-outline-none:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.focus-visible\:tw-ring-2:focus-visible {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow:
    var(--tw-ring-offset-shadow),
    var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}
.focus-visible\:tw-ring-ring:focus-visible {
  --tw-ring-color: hsl(var(--kwp-ring));
}
.focus-visible\:tw-ring-offset-2:focus-visible {
  --tw-ring-offset-width: 2px;
}
.disabled\:tw-pointer-events-none:disabled {
  pointer-events: none;
}
.disabled\:tw-opacity-50:disabled {
  opacity: 0.5;
}

/* Style imports - includes tailwind base */

/* Tailwind */
.tw-sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
}
.tw-flex{
    display: flex
}
.tw-grid{
    display: grid
}
.tw-items-center{
    align-items: center
}
.tw-justify-between{
    justify-content: space-between
}
.tw-gap-4px{
    gap: 0.25rem
}
.tw-gap-x-8px{
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem
}
.\!tw-px-16px{
    padding-left: 1rem !important;
    padding-right: 1rem !important
}
.tw-no-underline{
    text-decoration-line: none
}
.tw-outline-none{
    outline: 2px solid transparent;
    outline-offset: 2px
}
@media (min-width: 700px){
    .lg\:\!tw-px-0{
        padding-left: 0px !important;
        padding-right: 0px !important
    }
}

